*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  overflow:hidden;
  background:#050816;
  height:100vh;
}

/* UI */
#ui{
  position:absolute;
  top:20px;
  left:20px;
  color:white;
  z-index:10;
  font-size:24px;
  text-shadow:0 0 10px cyan;
}

/* GAME OVER */
#gameOver{
  position:absolute;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background:rgba(0,0,0,0.4);
  color:white;
  z-index:20;
}

#gameOver h1{
  font-size:90px;
  color:#00ffff;
  text-shadow:0 0 30px cyan;
}

#gameOver p{
  margin-top:10px;
  font-size:22px;
}

#gameOver button{
  margin-top:20px;
  padding:15px 30px;
  border:none;
  border-radius:12px;
  background:#00ffff;
  color:black;
  font-size:22px;
  cursor:pointer;
  font-weight:bold;
  box-shadow:0 0 20px cyan;
  transition:0.3s;
}

#gameOver button:hover{
  transform:scale(1.05);
}

/* INFO */
#info{
  position:absolute;
  bottom:20px;
  width:100%;
  text-align:center;
  color:#94a3b8;
  font-size:15px;
}

/* AREA GAME */
.game-area{
  position:relative;
  width:100%;
  height:100vh;

  background:
    radial-gradient(circle at center,
    #0f172a 0%,
    #020617 100%);
}

/* PLAYER */
.player{
  position:absolute;
  top:50%;
  left:50%;

  width:40px;
  height:40px;

  border-radius:50%;

  background:#00ffff;

  transform:translate(-50%,-50%);

  box-shadow:
    0 0 15px cyan,
    0 0 40px cyan;
}

/* BULLET */
.bullet{
  position:absolute;

  top:48%;
  left:55%;

  width:12px;
  height:12px;

  border-radius:50%;

  background:#fff700;

  box-shadow:
    0 0 10px #fff700,
    0 0 25px #fff700;
}

/* ENEMY */
.enemy{
  position:absolute;

  width:50px;
  height:50px;

  border-radius:50%;

  background:#ff006e;

  box-shadow:
    0 0 15px #ff006e,
    0 0 35px #ff006e;
}

.enemy1{
  top:20%;
  left:15%;
}

.enemy2{
  top:70%;
  right:15%;
}

/* BINTANG */
.game-area::before{
  content:"";
  position:absolute;
  inset:0;

  background-image:
    radial-gradient(white 1px, transparent 1px);

  background-size:50px 50px;

  opacity:0.2;
}
